@charset "utf-8";

$sky-blue : #3D9BE3;
$grey: #9D9E9F;
$light-grey: #E4E4E4;

$highlight: $sky-blue;
$normal: #000;

$normal-font-size: 1em;

body {
	margin: 0 9.6%; /* center the content */
	max-width: 1200px; 

	font-size: $normal-font-size;
	font-family: "宋体", Calibri,sans-serif;

}

a {
	text-decoration: none;
	
	$link-normal-color: #000;
	&:link   {color: $link-normal-color}
	&:hover  {color: $sky-blue}
	&:visited{color: $link-normal-color}
	&:active {color: $link-normal-color}
}


/* header part with personal information*/
header {
	margin-top: 5%;

	h1 {
		color: $highlight;
		font-size: 3em;
		margin: 0.2em 0 0;
	}

	.profession {
		margin: 0 0 1.2em;
	}

	.contact{

		p{
			margin: 0.5 0 0.5em;
		}
	}
}


.content {
	.category h2 {
		font-size: 1.2em;
		color: $highlight;
		text-transform: uppercase; //upper tilte

		margin-top: 2em;
		margin-bottom: .1em;
	}

	hr {
		border: 1px dotted $grey;
		border-style: none none dotted; 

		margin-top: .1em;
	}

	h3 {
		font-size: $normal-font-size;
		text-transform:  uppercase;

		margin: .7em 0 .1em;
	}

	.category.skill {
		dl {
			font-size: $normal-font-size;

			margin: .1em 0 .1em;
		}


		dt {
			display: inline-block;
			margin: .4em auto 0;

		}
		dd {
			display: inline-block;
			width: 100%;
			margin: .2em auto 0;
			
			//float: right;
			position: relative;
			vertical-align: middle;

			height: 0.4 * $normal-font-size; 
			
			background-color: $light-grey;
		
			.current {
				position: absolute;
				display: inline-block;

				height: 0.4 * $normal-font-size; 
				background-color: $highlight;

			}
		}
	}
}

.popup {
	z-index:  50;
}

.popup.project {

	display: none;
	top: 0;
	position: fixed;

	width: 100%;
	height: 100%;

	&.show{
		display: block;
	}
}

/* for wide screen which's browser width >= 800px*/
@media screen and (min-width:800px), print{
	
	/* two cols in wide screen and one col in narrow screen*/
	.two-columns{
		/* same height */
	   	overflow: auto;
	   	height: auto !important;
	}
	.two-columns .left, .two-columns .right{
		width: 50%;
		float: left;
	}

	header .two-columns {
		.left {
			width: 60%;
		}
		.right {
			width: 40%
		} 
	}

	.content{

		.category.skill{
			dt {
				width: 40%;
			}

			dd {
				width: 50%;
				margin: 0;
			}
		}

	}

}

/*
	the sytle when the page is printed.
*/
@media print{

	body {
		margin: 0 4.8%
	}

	/* hide "show more detail "*/
	.detail-link {
		display: none;
	}

}