@charset "UTF-8";
body {
  margin: 0 9.6%;
  /* center the content */
  max-width: 1200px;
  font-size: 1em;
  font-family: Calibri, "宋体", sans-serif; }

h1 {
  color: #3D9BE3;
  text-transform: uppercase;
  margin: 1em 0 .2em; }

.github {
  display: inline-block;
  margin-bottom: .4em; }

a {
  text-decoration: none; }
  a:link {
    color: #000; }
  a:visited {
    color: #000; }
  a:active {
    color: #000; }
  a:hover {
    color: #3D9BE3; }

.nav-container {
  display: none;
  width: 100%;
  text-align: center;
  height: 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #3D9BE3; }
  .nav-container nav a:link {
    color: #fff; }
  .nav-container nav a:visited {
    color: #fff; }
  .nav-container nav a:active {
    color: #fff; }
  .nav-container nav a:hover {
    color: #000; }
  .nav-container nav .nav-link {
    margin: 0 5%; }

hr {
  border: 1px dotted #9D9E9F;
  border-style: none none dotted;
  margin-top: .1em; }

h2 {
  display: inline;
  margin-right: 3%; }

p.desc {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

p.other-desc {
  text-align: center;
  font-style: italic;
  color: #9D9E9F; }

.img-container {
  text-align: center; }
  .img-container img {
    max-width: 480px;
    margin-bottom: 2em; }
